{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>About the website</h1>
    <p>This website is a demonstration of SPA (Single Page Application) Prototype merely using:</p><br>
    <ul>
        <li>HTMX</li>
        <li>Flask</li>
        <li>Pure Python 3.8</li>
    </ul>
    <p>None of the Javascript code is used to render any functionality for dynamic pages</p>
    <h2>Conclusion</h2><br>
    <p>HTMX is elegant if you have simpler application with not much of the dynamica functionalities. Although, it can be used for large-grade applications in conjunstion with Javascript to reduce the codebase by 60% at the same time achieving Server Side Rendering for optimized application.</p>
</div>
{% endblock %}